.chu {
	background-color: #3498db;
	color: #ecf0f1;
}

.changeCol {
	background-color: #3498db;
	color: #ecf0f1;
}

#header nav {
	padding-bottom: 1px;
	padding-top:5px;
	text-transform: uppercase;
}
p{
	text-align: center;
}

#upchu {
	text-transform: uppercase;
}

calltoAction .jumbotron {
	text-align: center;
}

.len {
	padding-top: 2px;
	padding-left: 2px;
}

.churezi {
	text-transform: uppercase;
}

.textal {
	text-align: center;
	font-size: 20px;
}
.textsize{
	font-size: 30px;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
#toAction .jumbotron{
	padding-top:100px;
	padding-bottom:100px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	color:#ecf0f1;
	background:#3498db url('../img/nen.jpg') center no-repeat;
	
	background-size: cover;
	margin-bottom:0px;
}
.glyphicon{
	font-size:100px;
	
}
#header nav{
	background: #27ae60;
	padding-top:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	-webkit-box-shadow: 0 0px 2px 2px #777;
	 -moz-box-shadow: 0 0px 2px 2px #777;
	        box-shadow: 0 0px 2px 2px #777;
}


#menu .glyphicon{
	font-size:30px;
}
#menu{
	color:#3498db;
	text-align:center;
	padding:20px 0px;
	
}
#noidung{
	padding-top:0px;
	padding-bottom: 0px;
}
#theend a{
	color:#FFFFFF;
	text-transform:uppercase;
}
#theend{
	background:#3498db;
}
.bac{
	background:red;
}
.den{
	background:blue;
}
#setw{
	width:10px;
}
#padtop{
	padding-top:50px;
	margin-top:500px;
}
.martop{
	margin-top:50px;
}
.back{
	background:red;
}
.bac {
	background: red;
}

.den {
	background: blue;
}

#setw {
	width: 10px;
}

.padtop {
	padding-top: 50px;
}
.vl1 {
	text-align: center;
	font-size: 20px;
}

.vl2 {
	text-align: center;
	font-size: 20px;
}

.tn {
	text-align: center;
	font-size: 30px;
	color: #3498DB;
	height: 150px;
	background: #E6E6FA;
	padding-top: 40px;
}

#pontent .vlcm .glyphicon {
	font-size: 50px;
	width: 100px;
	height: 100px;
	background: #3498DB;
	text-align: center;
	padding: 25px;
	color: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
#pontent .ldpt .glyphicon {
	font-size: 50px;
	width: 100px;
	height: 100px;
	background: #8B658B;
	text-align: center;
	padding: 25px;
	color: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
#pontent .vlsv .glyphicon {
	font-size: 50px;
	width: 100px;
	height: 100px;
	background: #FFA500;
	text-align: center;
	padding: 25px;
	color: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
#pontent .ntd .glyphicon {
	font-size: 50px;
	width: 100px;
	height: 100px;
	background: #B22222;
	text-align: center;
	padding: 25px;
	color: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#pontent {
	background: #E6E6FA;
	
}

#pontent .vlsv h3 {
	text-align: center;
	color: #FFA500;
	
}

.ht {
	font-size: 30px;
	height: 250px;
	background: white;
	text-align: center;
	padding: 25px;
	color: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 10px;
}

.vlcm {
	top: -50px;
	position: absolute;
	left: 190px;
}

.ldpt {
	top: -50px;
	position: absolute;
	left: 190px;
}

.vlsv {
	top: -50px;
	position: absolute;
	left: 190px;
}

.ntd {
	top: -50px;
	position: absolute;
	left: 190px;
}
/*...................
Redmen
..................*/
/*nomalize.min.css*/
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}
#header {
	color: white;
	text-align: center;
	font-size: 15px;
	background: #008080;
	
}
#header h3{
	font-size: 15px;
	
}
#theend a {
	color: #FFFFFF;
	text-transform: uppercase;
	
}

#theend {
	background: #3498db;
	padding-top: 30px;
}
.dexuat .glyphicon{
	color:#3498db;
}
.maupheduyet .glyphicon {
	color:#e74c3c;
}
 .maukho .glyphicon{
	color:#9b59b6;
}
 .maukiemke .glyphicon{
color:#1abc9c;
}
 .mauthongke .glyphicon{
color:#16a085;
}
 .danhmuc .glyphicon{
color:#c0392b;
}
 .taikhoan .glyphicon{
color:#2980b9;
}
